{% extends "blog/base.html" %}
{% block content %}
	<h5 style="color:white">A blog is a discussion or informational website published on the World Wide Web consisting of discrete,
		often informal diary-style text entries (posts). Posts are typically displayed in reverse chronological order,
		so that the most recent post appears first, at the top of the web page.</h5>
	<h3 style="color:white">Types</h3>
	<h5 style="color:white">There are many different types of blogs, differing not only in the type of content,
		but also in the way that content is delivered or written.</h5>
	<h5  style="color:white">Personal blogs</h5>
	<h5 style="color:white">Collaborative blogs or group blogs</h5>
	<h5 style="color:white">Microblogging</h5>
	<h5 style="color:white">Corporate and organizational blogs</h5>
	<h5 style="color:white">Aggregated blogs</h5>
	<h5 style="color:white">By media type</h5>
	<h5 style="color:white">many mores</h5>
	<hr>
	<h1 style="color: orange"><b>Contact Us</b></h1>
	<div style="color: orange" class="col-md-6">
		<address>
			<strong>SHUATS, Allahabad.</strong><br>
			Gangotri Nagar, Naini<br>
			211007-Uttar Pradesh, India<br>
			<abbr title="Phone">Phone No:</abbr> 6392741843,7545051352
		</address>

		<address>
			<strong>Sumit Kumar</strong><br>
			<a href="mailto:#">urblogpost@gmail.com</a>
		</address>
	</div>
	<div class="col-md-6">

	</div>

{% endblock content %}


